button {
    background-color: rgb(0, 255, 0);
    border: outset double;
    border-radius: 30px;
    color: #0023FF;
    padding: 55px 110px;
    text-align: center;
}

body {
    text-align: center;
}

.resetbtn {
    background-color: #FF0000;
    color: #ffbf00;
}