body {
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: -40px 0px;
}

button {
    background-color: #48DDDF;
    color: #0023FF;
}

.image {
    padding: 180px;
    margin: 20px;
}