button {
    background-color: rgb(0, 255, 0);
    color: #0023FF;
}

body {
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: -40px 0px;
}

.image {
    padding: 180px;
    margin: 20px;
}